footer{
    background-color: #64A8BD;
    color: white;
}
.img_oceanoVive {
    height: 100px;
}
.conteudo {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}
.footer-colunas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
.footer-colunas p {
    margin: 5px 0;
}
a {
    text-decoration: none;
    color: inherit;
}
.copy {
    text-align: center;
}