@font-face {
    font-family: 'MontserratBold';
    src: url('/src/assets/font/static/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'MontserratRegular';
    src: url('font/Montserrat-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}


:root {
    --cor1: #0D9F92;
    --cor2: #5FAD9F;
    --cor3: #64A8BD;
    --cor4: #8DC3B5;
    --cor5: #9DC3CE;
    --cor6: #C9DCC6;
    --cor7: #E2DDD7;
    --textcolor: #253C5E;
    --font-primary-regular: 'MontserratRegular', sans-serif;
    --font-primary-bold: 'MontserratBold', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.header {
    width: 1920px;
    height: 74px;
    background-color: var(--cor7);
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-primary-bold);
}

.header a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: var(--textcolor);
}

.header a:hover {
    color: black;
    cursor: pointer;
}

.header a:active{

}

li {
    list-style-type: none;
}

.cabecalho_logo {
    padding-left: 15px;
    align-items: center;
    width: 112px;
    height: 112px;
    margin-left: 55px;
}

.cabecalho_menu_lista {
    display: flex;
    align-items: center;
    gap: 90px;
}

.login-button {
    width: 138px;
    height: 49px;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 20px;
    font-size: 17.1px;
    cursor: pointer;
    border: none;
    background-color: var(--cor3);
    color: white;
    border-radius: 100px;
}

.login-button:hover{
    cursor: pointer;
}


.login-button:active{

}

.login-button-header{
    display: flex;
    gap: 31px;
    margin-right: 55px;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--cor7);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 500;
}

.modal-header {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    color: var(--cor5);
}

.modal-body {
    display: flex;
    flex-direction: column;
}

.modal-body input {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.close-button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #dc3545;
    color: var(--cor7);
    border-radius: 5px;
    margin-top: 10px;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}