@font-face {
    font-family: 'MontserratBold';
    src: url('/src/assets/font/static/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'MontserratRegular';
    src: url('/src/assets/font/Montserrat-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MontserratExtraBold';
    src: url('/src/assets/font/static/Montserrat-ExtraBold.ttf');
}

@font-face{
    font-family: 'MontserratMedium';
    src: url('/src/assets/font/static/Montserrat-Medium.ttf');
}


:root {
    --cor1: #0D9F92;
    --cor2: #5FAD9F;
    --cor3: #64A8BD;
    --cor4: #8DC3B5;
    --cor5: #9DC3CE;
    --cor6: #C9DCC6;
    --cor7: #E2DDD7;
    --cor8: ;
    --textcolor: #253C5E;
    --font-regular: 'MontserratRegular', sans-serif;
    --font-bold: 'MontserratBold', sans-serif;
    --font-extrabold: 'MontserratExtraBold', sans-serif;
    --font-medium: 'MontserratMedium', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}


body{
    background-color: var(--cor5);
}

.background-img{
    background-color: var(--cor5);
}

.main-titulo{
    width: 1920px;
    height: 1000px;
}

.main-titulo-p{
    display: flex;
    text-align: center;
    align-items: center;
    color: white;
    font-size: 48px;
    font-family: var(--font-bold);
    background-color: var(--cor3);
    width: 800px;
    height: 159px;
    border-radius: 50px;
    margin-left: -50px;
}

.main-texto{
    color: var(--textcolor);
    font-size: 24px;
}

#main-img{
    width: 765px;
    height: 481px;
    border-radius: 50px;
}

.content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-right: 80px;
    margin-top: 87px;
    background-color: var(--cor5);
}

.text-content {
    flex: 1;
}

.main-titulo-p p {
    font-family: var(--font-bold);
    font-size: 48px;
    color: white;
    background-color: var(--cor3);
    border-radius: 50px;
}

.titulo-main{
    display: flex;
    margin-left: 50px;
}

.main-texto {
    margin-right: 150px;
    margin-left: 111px;
    font-family: var(--font-regular);
    font-size: 24px;
    color: var(var(--textcolor));
    margin-top: 67px;
    text-align: justify;
}

#main-img {
    width: 765px;
    height: 481px;
    border-radius: 50px;
}

.container_parceiros{
    margin-bottom: 74px;
    background-color: var(--cor5);
}

.p_parceiros{
    font-family: var(--font-bold);
    font-size: 48;
    color: white;
    font-size: 48px;
    margin-left: 108px;
    margin-bottom: 74px;
    margin-top: 41px;
}

.parceiros{
    margin: 35px;
    display: flex;
    justify-content: center;
    gap: 70px;
    height: 50px;
}

#oceanolimpo{
    width: 203px;
    height: 63px;
}

#select{
    width: 203.13px;
    height: 64.39px;
}

#aws{
    width: 82.05px;
    height: 82.05px;
}

#usp{
    width: 411px;
    height: 146px;
    margin-top: -45px;
}

#unesco{
    width: 83.69px;
    height: 62.46px;
}

#pacto{
    width: 264px;
    height: 92px;
    margin-top: -20px;
}

#o2o{
    width: 126px;
    height: 71px;
}

.container_info img{
    margin-top: 23px;
    display: block;
    margin-left: 0px;
    padding-left: 50px;
    width: 227px;
    height: 151px;
}

.footer-colunas{
    padding-right: 120px;
    font-family: var(--font-bold);
    color: white;
    font-size: 15px;
    padding-top: 27px;
}

.copy{
    font-family: var(--font-extrabold);
    font-size: 18;
    color: white;
    padding-bottom: 12px;
}



.main-causas-img{
    width: 873px;
    height: 515px;
    border-top-right-radius: 100px;  
    border-bottom-right-radius: 100px;  
}

.main-causas{
    margin-top: 126px;
    background-color: var(--cor7);
    display: flex;
    width: 100%;
}

.main-causas-titulo{
    font-family: var(--font-bold);
    font-size: 48px;
    color: var(--textcolor);
    margin-top: 91px;
}

.main-causas-lista{
    font-family: var(--font-regular);
    font-size: 40px;
    color: var(--textcolor);
    margin-top: 102px;
    margin-left: 33px;
}

.main-causas-conteudo{
    margin-left: 174px;
}

.main-informacoes{
    width: 100%;
    background-color: var(--cor7);
}

.main-legendas{
    font-family: var(--font-medium);
    font-size: 48px;
    display: flex;
    gap: 446px;
    padding-left: 230px;
    padding-top: 70px; 
    margin-bottom: 31px;
}

.main-imagem-video{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.main-video{

    border: none;
    box-shadow: none;
    outline: none;
    width: 823px;
    height: 432px;
}

.main-img-img{
    margin-left: 123px;
}

.main-video{
    margin-right: 123px;
}

.main-imagem-video{
    padding-bottom: 59px;
}


/*Pagina beneficios*/

.container_beneficio {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #e0f7fa;
    font-size: var(--font-bold)
}

.beneficios_texto{
    font-family: var(--font-bold);
}

.titulo_beneficios {
    text-align: center;
    color: #00796b;
    margin-bottom: 40px;
}

.container_beneficio_conteudo {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.beneficio_conteudo {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    gap: 20px;
}

.beneficio_conteudo:nth-child(odd) {
    flex-direction: row;
}

.beneficio_conteudo:nth-child(even) {
    flex-direction: row-reverse;
}

.beneficio_conteudo img {
    max-width: 40%;
    height: auto;
    border-radius: 10px;
}

.beneficio_conteudo p {
    flex: 1;
    text-align: justify;
    line-height: 1.6;
    color: #333;
}

@media (max-width: 768px) {
    .beneficio_conteudo {
        flex-direction: column;
    }

    .beneficio_conteudo img {
        max-width: 100%;
        margin-top: 20px;
    }
}

/*Pagina Objetivos*/

.container_Objetivo {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #e0f7fa;
    text-align: center;
}

.Titulo_Objetivo {
    color: #00796b;
    margin-bottom: 40px;
}

.slideshow-container {
    position: relative;
    max-width: 500px;
    margin: auto;
    margin-bottom: 40px;
}

.slideshow {
    display: none;
}

.slideshow img {
    width: 500px;
    height: 300px;
    border-radius: 10px;
}

.container_objetivo_conteudo {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.imagem_texto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.imagem_texto p {
    flex: 1;
    text-align: justify;
    line-height: 1.6;
    color: #333;
    margin: 0 20px;
}

.imagem_texto img {
    max-width: 20%;
    height: auto;
    border-radius: 10px;
}

.imagem_texto:nth-child(odd) {
    flex-direction: row-reverse;
}

@media (max-width: 768px) {
    .imagem_texto {
        flex-direction: column;
        text-align: center;
    }

    .imagem_texto img {
        max-width: 100%;
        margin-top: 20px;
    }

    .imagem_texto p {
        margin: 0;
    }
}




/*Pagina impactos*/

.container_impactos {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #e0f7fa;
    font-size: var(--font-medium);
}

.impactos_texto{
    font-family: var(--font-bold);
}

.titulo_impactos {
    text-align: center;
    color: #00796b;
    margin-bottom: 40px;
}

.container_impactos_conteudo {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.impactos_conteudo {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    gap: 20px;
}

.impactos_conteudo:nth-child(odd) {
    flex-direction: row;
}

.impactos_conteudo:nth-child(even) {
    flex-direction: row-reverse;
}

.impactos_conteudo img {
    max-width: 40%;
    height: auto;
    border-radius: 10px;
}

.impactos_conteudo p {
    flex: 1;
    text-align: justify;
    line-height: 1.6;
    color: #333;
}

@media (max-width: 768px) {
    .impactos_conteudo {
        flex-direction: column;
    }

    .impactos_conteudo img {
        max-width: 100%;
        margin-top: 20px;
    }
}

::-webkit-scrollbar {
    width: 12px; 
    height: 3px;
}


::-webkit-scrollbar-track {
    background-color: var();
}


::-webkit-scrollbar-thumb {
    background-color: var(--cor7);
}
