@font-face {
    font-family: 'MontserratBold';
    src: url('../src/assets/font/static/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'MontserratRegular';
    src: url('../src/assets/font/Montserrat-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'MontserratExtraBold';
    src: url('../src/assets/font/static/Montserrat-ExtraBold.ttf');
}

@font-face{
    font-family: 'MontserratMedium';
    src: url('../src/assets/font/static/Montserrat-Medium.ttf');
}


:root {
    --cor1: #0D9F92;
    --cor2: #5FAD9F;
    --cor3: #64A8BD;
    --cor4: #8DC3B5;
    --cor5: #9DC3CE;
    --cor6: #C9DCC6;
    --cor7: #E2DDD7;
    --textcolor: #253C5E;
    --font-regular: 'MontserratRegular', sans-serif;
    --font-bold: 'MontserratBold', sans-serif;
    --font-extrabold: 'MontserratExtraBold', sans-serif;
    --font-medium: 'MontserratMedium', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}


body {
    background-color: var(--cor5);
}

.background-img {
    background-color: var(--cor5);
}

.main-titulo {
    width: 1920px;
    height: 1000px;
}

.main-titulo-p {
    display: flex;
    text-align: center;
    align-items: center;
    color: white;
    font-size: 48px;
    font-family: var(--font-bold);
    background-color: var(--cor3);
    width: 800px;
    height: 159px;
    border-radius: 50px;
    margin-left: -50px;
}

.main-texto {
    color: var(--textcolor);
    font-size: 24px;
}

#main-img {
    width: 765px;
    height: 481px;
    border-radius: 50px;
}

.content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-right: 80px;
    margin-top: 87px;
    background-color: var(--cor5);
}

.text-content {
    flex: 1;
}

.main-titulo-p p {
    font-family: var(--font-bold);
    font-size: 48px;
    color: white;
    background-color: var(--cor3);
    border-radius: 50px;
}

.titulo-main {
    display: flex;
    margin-left: 50px;
}

.main-texto {
    margin-right: 150px;
    margin-left: 111px;
    font-family: var(--font-regular);
    font-size: 24px;
    color: var(var(--textcolor));
    margin-top: 67px;
    text-align: justify;
}

#main-img {
    width: 765px;
    height: 481px;
    border-radius: 50px;
}

.container_parceiros {
    margin-bottom: 74px;
    background-color: var(--cor5);
}

.p_parceiros {
    font-family: var(--font-bold);
    font-size: 48;
    color: white;
    font-size: 48px;
    margin-left: 108px;
    margin-bottom: 74px;
    margin-top: 41px;
}

.parceiros {
    margin: 35px;
    display: flex;
    justify-content: center;
    gap: 70px;
    height: 50px;
}

#oceanolimpo {
    width: 203px;
    height: 63px;
}

#select {
    width: 203.13px;
    height: 64.39px;
}

#aws {
    width: 82.05px;
    height: 82.05px;
}

#usp {
    width: 411px;
    height: 146px;
    margin-top: -45px;
}

#unesco {
    width: 83.69px;
    height: 62.46px;
}

#pacto {
    width: 264px;
    height: 92px;
    margin-top: -20px;
}

#o2o {
    width: 126px;
    height: 71px;
}

.container_info img {
    margin-top: 23px;
    display: block;
    margin-left: 0px;
    padding-left: 50px;
    width: 227px;
    height: 151px;
}

.footer-colunas {
    padding-right: 120px;
    font-family: var(--font-bold);
    color: white;
    font-size: 15px;
    padding-top: 27px;
}

.copy {
    font-family: var(--font-extrabold);
    font-size: 18;
    color: white;
    padding-bottom: 12px;
}

.main-causas-img {
    width: 873px;
    height: 515px;
    border-top-right-radius: 100px;  
    border-bottom-right-radius: 100px;  
}

.main-causas {
    margin-top: 126px;
    background-color: var(--cor7);
    display: flex;
    width: 100%;
}

.main-causas-titulo {
    font-family: var(--font-bold);
    font-size: 48px;
    color: var(--textcolor);
    margin-top: 91px;
}

.main-causas-lista {
    font-family: var(--font-regular);
    font-size: 40px;
    color: var(--textcolor);
    margin-top: 102px;
    margin-left: 33px;
}

.main-causas-conteudo {
    margin-left: 174px;
}

.main-informacoes {
    width: 100%;
    background-color: var(--cor7);
}

.main-legendas {
    font-family: var(--font-medium);
    font-size: 48px;
    display: flex;
    gap: 446px;
    padding-left: 230px;
    padding-top: 70px; 
    margin-bottom: 31px;
}

.main-imagem-video {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.main-video {

    border: none;
    box-shadow: none;
    outline: none;
    width: 823px;
    height: 432px;
}

.main-img-img {
    margin-left: 123px;
}

.main-video {
    margin-right: 123px;
}

.main-imagem-video {
    padding-bottom: 59px;
}



/*pagina Tecnologia*/

#container_Tecnologia {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #e0f7fa;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container_Tecnologia h1 {
    text-align: center;
    color: var(--cor1);
    margin-bottom: 20px;
}

.Container_Tecnologia_Python p{
    font-family: var(--font-bold);
}

.texto_tecnologia {
    padding: 10px;
    font-family: var(--font-bold);
}

.Container_Tecnologia_Python,.Container_Tecnologia_Edge {
    display: flex;
    align-items: center;
    gap: 20px;
}

.text_right,.text_left {
    flex: 1;
    font-size: 16px;
    text-align: justify;
    color: #333;
}

#imagem_Python,#imagem_Edge {
    max-width: 40%;
    height: auto;
    border-radius: 10px;
}

.Container_Tecnologia_Python {
    flex-direction: row;
}

.Container_Tecnologia_Edge {
    flex-direction: row-reverse;
}

@media (max-width: 768px) {
    #container_Tecnologia {
        width: 90%;
    }

    .Container_Tecnologia_Python,.Container_Tecnologia_Edge {
        flex-direction: column;
        align-items: center;
    }

    #imagem_Python,#imagem_Edge {
        max-width: 100%;
        margin-top: 20px;
    }
}

/*Pagina Objetivos*/

.container_objetivo {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #e0f7fa;
    font-size: var(--font-bold);
}

.titulo_objetivo {
    text-align: center;
    color: var(--cor1);
    margin-bottom: 40px;
}

.slideshow-container {
    position: relative;
    max-width: 800px;
    margin: auto;
    padding: 50px 0;
    margin-bottom: 40px;
    overflow: hidden;
}

.slideshow {
    display: none;
}

.slideshow img {
    width: 800px;
    height: 400px;
    border-radius: 10px;
}

.container_objetivo_conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.imagem_texto {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    gap: 20px;
    max-width: 100rem;
    margin: 30px;
}


.imagem_texto img {
    max-width: 30%;
    height: auto;
    border-radius: 10px;
}

.imagem_texto p {
    flex: 1;
    text-align: justify;
    line-height: 1.6;
    color: #333;
    font-family: var(--font-bold);
}

@media (max-width: 768px) {
    .imagem_texto {
        flex-direction: column;
        align-items: center;
    }

    .imagem_texto img {
        max-width: 100%;
        margin-top: 20px;
    }
}

/*Pagina beneficios*/

.container_beneficio {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #e0f7fa;
    font-size: var(--font-bold)
}

.beneficios_texto{
    font-family: var(--font-bold);
}

.titulo_beneficios {
    text-align: center;
    color: var(--cor1);
    margin-bottom: 40px;
}

.container_beneficio_conteudo {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.beneficio_conteudo {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    gap: 20px;
}

.beneficio_conteudo:nth-child(odd) {
    flex-direction: row;
}

.beneficio_conteudo:nth-child(even) {
    flex-direction: row-reverse;
}

.beneficio_conteudo img {
    max-width: 40%;
    height: auto;
    border-radius: 10px;
}

.beneficio_conteudo p {
    flex: 1;
    text-align: justify;
    line-height: 1.6;
    color: #333;
}

@media (max-width: 768px) {
    .beneficio_conteudo {
        flex-direction: column;
    }

    .beneficio_conteudo img {
        max-width: 100%;
        margin-top: 20px;
    }
}

/*Pagina impactos*/

.container_impactos {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #e0f7fa;
    font-size: var(--font-medium);
}

.impactos_texto{
    font-family: var(--font-bold);
}

.titulo_impactos {
    text-align: center;
    color: var(--cor1);
    margin-bottom: 40px;
}

.container_impactos_conteudo {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.impactos_conteudo {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    gap: 20px;
}

.impactos_conteudo:nth-child(odd) {
    flex-direction: row;
}

.impactos_conteudo:nth-child(even) {
    flex-direction: row-reverse;
}

.impactos_conteudo img {
    max-width: 40%;
    height: auto;
    border-radius: 10px;
}

.impactos_conteudo p {
    flex: 1;
    text-align: justify;
    line-height: 1.6;
    color: #333;
}

@media (max-width: 768px) {
    .impactos_conteudo {
        flex-direction: column;
    }

    .impactos_conteudo img {
        max-width: 100%;
        margin-top: 20px;
    }
}

::-webkit-scrollbar {
    width: 12px; 
    height: 3px;
}


::-webkit-scrollbar-track {
    background-color: var();
}


::-webkit-scrollbar-thumb {
    background-color: var(--cor7);
}

.container-paraquem {
    display: flex;
    flex-direction: column;
}

.main-paraquem {
    display: flex;
    align-items: center;
}

.main-paraquem-texto {
    flex: 1;
}

.main-paraquem-titulo-img {
    max-width: 50%; 
    width: 856px;
    height: 571px;
    border-radius: 100px;
    margin-left: 20px; 
    margin-top: 74px;
    margin-right: 102px;
}

.estatistica {
    margin-top: 20px;
}

.main-paraquem-titulo-p{
    margin-left: 57px;
    margin-top: -268px;
    font-family: var(--font-bold);
    font-size: 96px;
    color: var(--textcolor);
}

.main-paraquem-texto-p{
    font-family: var(--font-regular);
    font-size: 30px;
    margin-left: 57px;
    margin-top: 57px;
    margin-right: 160px;
    text-align: justify;
}

.main-praquem-grafico{
    margin-left: 55px;
    margin-top: -230px;
    width: 686px;
    height: 694px;
}

.main-praquem-grafico-alarmante{
    width: 1200px;
    height: 573px;
    margin-left: 327px;
    margin-bottom: 150px;
    margin-top: 177px;
}

.main-praquem-estatistica-titulo{
    color: var(--textcolor);
    font-family: var(--font-bold);
    font-size: 70px;
    margin-left: 245px;
    margin-right: 124px;
    text-align: justify;
}

.main-praquem-estatistica-texto{
    color: var(--textcolor);
    font-family: var(--font-regular);
    font-size: 30px;
    margin-left: 245px;
    margin-right: 124px;
}

.main-praquem-segundo-titulo{
    display: flex;
    align-items: center;
}

@media (max-width: 1700px){

    .header {
        flex-direction: column;
        height: auto;
    }

    .main-paraquem-titulo-p{
        margin-top: 20px;
    }

    .main-paraquem-texto {
        text-align: center;
    }

    .main-paraquem-titulo-img {
        width: 40%;
        height: auto;
        margin-left: 20px;
    }

    .main-praquem-segundo-titulo {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .main-praquem-grafico {
        max-width: 50%;
        height: auto;
    }

    .main-praquem-estatisticas {
        text-align: center;
    }

    .main-praquem-estatistica-texto{
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    

    .main-praquem-grafico{
        max-width: 40%;
        height: auto;
        margin-top: 20px;
    }

    .main-praquem-grafico-alarmante {
        display: block;
        margin: 100px auto;
        max-width: 50%;
        height: auto;
        align-self: center;
    }
}

@media (max-width: 1200px) {
    .header {
        flex-direction: column;
        height: auto;
    }

    .cabecalho_logo {
        margin: 0 auto;
        padding-left: 0;
    }

    .cabecalho_menu_lista {
        flex-direction: column;
        gap: 20px;
    }

    .login-button-header, .user-info {
        margin: 0 auto;
    }

    .content-container {
        flex-direction: column;
        align-items: center;
        margin: 0 20px;
    }

    .main-titulo-p {
        font-size: 24px;
        width: auto;
        height: auto;
        margin-left: 0;
    }

    .main-texto, .main-causas-texto, .doacao-texto {
        margin: 0 20px;
    }

    .parceiros {
        flex-direction: column;
        gap: 20px;
    }

    .footer-colunas {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .copy {
        padding: 20px;
    }

    /*O problema*/

    .content-container {
        flex-direction: column;
    }

    .main-causas, .main-informacoes {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .main-causas-img, .main-causas-conteudo {
        width: 100%;
    }

    .main-causas-img {
        order: -1;
        max-width: 90%;
        height: auto;

    }

    .main-legendas, .main-imagem-video {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .main-img-img {
        max-width: 100%;
        height: auto;
    }

    .main-video {
        width: 100%;
    }

    .container_parceiros {
        flex-wrap: wrap;
        justify-content: center;
    }

    .parceiros {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    
    /*Pra Quem*/

    .main-paraquem-titulo-p{
        margin-top: 20px;
    }

    .main-paraquem-texto {
        text-align: center;
    }

    .main-paraquem-titulo-img {
        width: 40%;
        height: auto;
        margin-left: 20px;
    }

    .main-praquem-segundo-titulo {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .main-praquem-grafico {
        max-width: 50%;
        height: auto;
    }

    .main-praquem-estatisticas {
        text-align: center;
    }

    .main-praquem-estatistica-texto{
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    

    .main-praquem-grafico{
        max-width: 40%;
        height: auto;
        margin-top: 20px;
    }

    .main-praquem-grafico-alarmante {
        display: block;
        margin: 100px auto;
        max-width: 50%;
        height: auto;
        align-self: center;
    }
    

}

@media (max-width: 768px) {
    .header {
        padding: 10px;
    }

    .login-button, .logout-button {
        width: 100px;
        font-size: 14px;
    }

    .modal {
        width: 90%;
        height: auto;
        padding: 10px;
    }

    .modal-header {
        font-size: 24px;
    }

    .modal-body input {
        width: 100%;
        font-size: 16px;
    }

    .close-button, #login-entrar, #register-button {
        width: 100%;
        font-size: 18px;
    }

    .content-container {
        margin: 0 10px;
    }

    .main-titulo-p {
        font-size: 18px;
    }

    .main-texto, .main-causas-texto, .doacao-texto {
        font-size: 18px;
    }

    .footer-colunas {
        padding: 10px;
    }

    .copy {
        font-size: 14px;
    }


    /*O problema*/




    /*Objetivos*/

    .slideshow-container {
        width: 100%;
        height: auto;
        margin: 5px;
    }

    .slideshow-container img {
        width: 100%;
        height: auto;
        border-radius: 20px;
    }

    /*Pra Quem*/

    .main-paraquem-titulo-p{
        margin-top: 20px;
    }

    .main-paraquem-texto {
        text-align: center;
    }

    .main-paraquem-titulo-img {
        width: 40%;
        height: auto;
        margin-left: 20px;
    }

    .main-praquem-segundo-titulo {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .main-praquem-grafico {
        max-width: 50%;
        height: auto;
    }

    .main-praquem-estatisticas {
        text-align: center;
    }

    .main-praquem-estatistica-texto{
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    

    .main-praquem-grafico{
        max-width: 40%;
        height: auto;
        margin-top: 20px;
    }

    .main-praquem-grafico-alarmante {
        display: block;
        margin: 100px auto;
        max-width: 50%;
        height: auto;
        align-self: center;
    }


    /*Beneficios*/

    .beneficio_conteudo {
        flex-direction: column;
        padding: 15px;
    }

    .beneficio_conteudo img {
        max-width: 50%;
        height: auto;
        border-radius: 10px;
        margin-bottom: 10px;
        order: 2;
    }

    .beneficio_conteudo p {
        text-align: justify;
        margin-top: 10px;
        max-width: 100%;
        order: 1;
    }

    .impactos_conteudo {
        flex-direction: column;
        padding: 15px;
    }

    .impactos_conteudo img {
        max-width: 50%;
        height: auto;
        border-radius: 10px;
        margin-bottom: 10px;
        order: 2;
    }

    .impactos_conteudo p {
        text-align: justify;
        margin-top: 10px;
        max-width: 100%;
        order: 1;
    }
}

@media (max-width: 480px) {
    .login-button-header, .user-info {
        flex-direction: column;
        gap: 10px;
    }

    .content-container {
        margin: 0 5px;
    }

    .main-texto, .main-causas-texto, .doacao-texto {
        font-size: 16px;
    }

    .footer-colunas {
        padding: 5px;
    }

    .copy {
        font-size: 12px;
    }

    /*Objetivos*/

    .slideshow-container {
        width: 100%;
        height: auto;
    }

    .slideshow-container img {
        width: 100%;
        height: auto;
        border-radius: 20px;
    }

    /*Beneficios*/

    .beneficio_conteudo {
        flex-direction: column;
        padding: 15px;
    }

    .beneficio_conteudo img {
        max-width: 50%;
        height: auto;
        border-radius: 10px;
        margin-bottom: 10px;
        order: 2;
    }

    .beneficio_conteudo p {
        text-align: justify;
        margin-top: 10px;
        max-width: 100%;
        order: 1;
    }
    /*Impactos*/

    .impactos_conteudo {
        flex-direction: column;
        padding: 15px;
    }

    .impactos_conteudo img {
        max-width: 50%;
        height: auto;
        border-radius: 10px;
        margin-bottom: 10px;
        order: 2;
    }

    .impactos_conteudo p {
        text-align: justify;
        margin-top: 10px;
        max-width: 100%;
        order: 1;
    }
}



    

@media (min-width: 321px) and (max-width: 480px) {
    .header {
        padding: 10px;
    }

    .login-button-header, .user-info {
        flex-direction: column;
        gap: 10px;
        margin: 0;
    }

    .cabecalho_menu_lista {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .login-button, .logout-button {
        width: 120px;
        font-size: 16px;
    }

    .content-container {
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }

    .main-titulo-p {
        font-size: 22px;
        width: auto;
        height: auto;
        margin: 0 10px;
    }

    .main-texto, .main-causas-texto, .doacao-texto {
        font-size: 18px;
        margin: 0 10px;
    }

    .parceiros {
        flex-direction: column;
        gap: 10px;
        margin: 10px;
    }

    .footer-colunas {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .copy {
        font-size: 14px;
        padding: 10px;
    }

    .modal {
        width: 90%;
        height: auto;
        padding: 10px;
    }

    .modal-header {
        font-size: 20px;
    }

    .modal-body input {
        width: 100%;
        font-size: 16px;
    }

    .close-button, #login-entrar, #register-button {
        width: 100%;
        font-size: 18px;
    }

    /*Objetivos*/

    .slideshow-container {
        width: 100%;
        height: auto;
    }
    
    .slideshow-container img {
        width: 100%;
        height: auto;
        border-radius: 20px;
    }

    .slideshow img {
        max-width: 100%;
        height: auto;
    }

    /*Pra quem*/

    .main-paraquem-titulo-img {
        max-width: 80%;
        width: auto;
        height: auto;
        border-radius: 50%;
        margin: 20px auto;
    }

    .main-paraquem-texto-p {
        margin: 20px;
        font-size: 24px;
        text-align: center;
    }

    .main-praquem-grafico-alarmante {
        width: 100%;
        max-width: none;
        height: auto;
        margin: 20px auto;
    }

    .main-praquem-estatistica-titulo,.main-praquem-estatistica-texto {
        margin: 20px;
        font-size: 20px;
        text-align: center;
    }

    /*Impactos*/
    .impactos_conteudo img {
        max-width: 30%;
        height: auto;
        border-radius: 10px;
        margin-bottom: 10px;
        order: 2;
    }
}

@media (max-width: 768px){
    .main-causas{
        width: 450px;
    }

    .main-causas-titulo{
        margin-top: -5px;
        margin-bottom: -65px;
        font-size: 30px;
        display: flex;
        text-align: center;
        margin-right: 400px;
        text-align: justify;
    }

    .main-causas-lista{
        font-size: 20px;
        margin-right: 600px;
        margin-left: 0;
    }

    .main-legendas{
        font-size: 30px;
        margin-right: 600px;
    }

    .margin-um, .margin-dois{
        visibility: hidden;
    }

    .main-img-img{
        visibility: hidden;
    }

    .texto-video{
        margin-top: -300px;
        margin-left: -60px;
        margin-right: 600px;
    }

    .main-video{
        margin-top: -300px;
        margin-bottom: -300px;
    }

    .container_parceiros{
        visibility: hidden;
    }

    .main-paraquem-titulo-p{
        font-size: 80px;
    }

    .main-paraquem-titulo-img{
        visibility: hidden;
    }

    .main-paraquem-texto-p{
        margin-left: 88px;
    }

}